/*
See: License. Code is under a MIT license.
*/

body {
    background-image: url("congruent_outline.png");
}

.title {
    text-align: center;
    font-size:250%;
    border-style: double;
	border-color: white;
	color: white;
}

p {
	color: white;
	text-align: center;
}

td {
	color: white;
}

table {
	border: 1;
	width: 100%;
	border-color: white;
	background-color: black
}
