/*
See: License. Code is under a MIT license.
*/

body {
    background-image: url("congruent_outline.png");
    color: white;
}

.title {
    text-align: center;
    font-size:250%;
    border-style: double;
	border-color: white;
}

.center {
	text-align: center;
}

.sexy_table {
	border: 1px solid white;
	width: 100%;
	border-color: white;
	border-collapse: collapse;
	table-layout: fixed;
}
